<div>

	<div class="col-lg-12 bloco-ferramentas" style="margin-top:45px;">

	<h4 class="form-group col-md-offset-3 col-lg-7 colorH4 ng-scope">Indicadores de <a href="irParaTema()">{{tema.nome}}</a></h4>

			<div id="superiorForm" style="width:80%; height:100px; margin:0 auto; border-bottom:1px solid #ccc;">
				<div style="float:left; margin-top:20px;">
					<button class="btn btn-success" style="width: 135px; height: 40px;" ng-click="novoIndicador();">Novo Registro</button>
				</div>

				<!-- <div style="float:right; margin-top:20px; margin-left:10px; width:275px;">
					 <div class="input-group">
						<input type="text" class="form-control" placeholder="Pesquisar...">
						<span class="input-group-btn">
						  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</div> -->
			</div>
	</div>

	<div class="col-lg-12">

			<table>
				<thead>
					<th>ID</th>
					<th>Nome</th>
					<th>Tema</th>
					<th>Ações</th>
				<thead>

				<select ng-options="tema.id as tema.nome for tema in temas" class="form-control" ng-model="temaIndicador" ng-model-options="{ getterSetter: true }">
				<!-- <option value="">Selecione</option>
				<option selected value="{{tema.id}}">{{tema.nome}}</option> -->
				</select>

				<tbody>
					<tr ng-repeat="indicador in indicadores" ng-class="{linhaSelecionada : indicador.selecionado}">
						<td>{{indicador.id}}</td>
						<td>{{indicador.nome}}</td>
						<td>{{indicador.tema.id}}</td>

						<td style="text-align: center">
							<div class="fa fa-pencil botao-flat" style="padding: 10px;" ng-click="alterar(indicador);"></div>
							<div class="fa fa-trash botao-flat" style="padding: 10px;" ng-click="excluir(indicador);"></div>
						</td>
					</tr>
				</tbody>
			</table>
	</div>
</div>
